@import "../../assets/styles/helpers/mixins";

.defibrillateurs{
  padding-left: 65px;
  padding-top: 144px;
  padding-bottom: 24px;

  @include for-size-sm{
    width: 100%;
    padding-left: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include for-size-s{
    padding-left: 0;
    padding-top: 100px;
  }
}
