<div class="row">
  <div class="text--bold">
    <p>CLA012345678</p>
  </div>
  <div class="location">
    <img src="./assets/graphique/icons/location-marker.svg" alt="icon de marqueur d'emplacement géographique ">
    <div>
      <p class="text text--bold">Mairie d'Elattes</p>
      <p class="text">Rue jaques prévert</p>
      <p class="text">42980 Elattes</p>
    </div>
  </div>
  <div class="status">
    <img src="./assets/graphique/icons/status_ok.svg" alt="icon de status du défibrallateur">
  </div>
  <div class="electrodes-expiration-date text--discret">
    <p>10.05.2025</p>
  </div>
</div>
