<section>
  <app-page-header [pageHeader]="pageHeader"></app-page-header>

  <form >
    <div class="button" *ngIf="! selectedImage">
      <p>Ajouter une photo</p>
      <input type="file" (change)="onFileChanged($event)">
    </div>
  </form>
  <img src="{{'http://192.168.86.37:5040/pictures/deffibrillatorsIssues/' + uploadedImageName}}" *ngIf="selectedImage && ! reportSended">
  <form class="description" #description="ngForm" (submit)="sendIssue(description)" *ngIf="selectedImage && ! reportSended">
    <p>Décriver le probleme</p>
    <textarea type="textarea" ngModel name="text" placeholder="raconte nous le problème"></textarea>
    <input type="submit" class="button--submit">
  </form>

</section>
