@import "../assets/styles/helpers/mixins";

.body-flex-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  //switching to toggleable top menu on mobile
  @include for-size-s{
    flex-direction: column;
  }
}


app-navigation-menu {
  @media (min-width: 767px) and (max-width: 1265px) {
    width: 50px;
  }
}

