//******************************************styles off navigation menu*************************************


//import variables
@import "../../assets/styles/helpers/variables";
@import "../../assets/styles/components/text";
@import "../../assets/styles/helpers/mixins";
@import "../../assets/styles/components/burgerBtn";



nav{
  height: 100vh;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 259px;
  background-color: $lifeaz-blue;

  @include for-size-s{
    width: 100%;
    box-sizing: border-box;
    height: 67px;
    transition: height .45s;

      &.nav-open{
        height: 200px;
    }
  }


  @media (min-width: 767px)  and (max-width: 1265px) {
    transition: transform .3s;
    transform: translateX(-180px);
    &.nav-open{
      transform: translateX(0px);
    }
  }

  .header{
    padding-top: 38px;
    padding-left: 48px;
    @include for-size-medium{
      display: flex;
      justify-content: space-between;
    }

    @include for-size-s{
      padding-top: 20px;
      padding-left: 42px;
      display: block;
    }

    img{
      height: 35px;
      width: 111px;
      @include for-size-s{
        height: 27px;
        width: 83px;
      }
    }

    label{
      position: relative;
      bottom: 18px;
      margin-right: 20px;

      @media screen and (min-width: 767px){
        margin-right: 10px;
      }

      @media screen and (min-width: 1265px) {
        display: none;
      }
    }

    @include  for-size-s{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      position: relative;
      background-color: $lifeaz-blue;
      height: 67px;
      box-sizing: border-box;
      z-index: 100;
    }
  }

  .navigation-items{
    width: 244px;
    margin-left: auto;
    height: auto;
    @include for-size-s{
      width: 100%;
      padding-left: 48px;
      padding-bottom: 28px;
    }
    @media (min-width: 767px)  and (max-width: 1265px) {
      transition: transform .1s;
      transform: translateX(-79px);

      &.nav-open{
        transform: translateX(0px);
      }
    }
  }

  .toggleables-nav-item-header{
    background-color: $background-grey;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 62px;
    width: 244px;
    margin-top: 22px;
    border-top-left-radius: 84px;
    border-bottom-left-radius: 84px;

    @include for-size-s{
      display: none;

      .open{
        transform: translateY(0px);
      }
    }

    .flash-icon{
      height: 19px;
      width: 12px;
      margin-left: 30px;
    }
    .down-arrow-icon{
      margin-left: auto;
      margin-right: 26px;
    }

    p{
      @extend .text;
      font-weight: $fw-black;
      text-transform: uppercase;
      margin-left: 19px;
      font-size: 16px;
    }
  }


  .toggled-items{
    width: 210px;
    margin-top: 16px;
    margin-left: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    border-left: 2px solid #3d3dc8;

    @include for-size-s{
      margin-left: 0px;
      width: 100%;
      margin-top: 22px;
      transform: translateY(-200px);
      transition: transform 0.3s;
      &.open{
        transform: translateY(0px);
      }


    }

    & > a{
      @extend .small-title;
      font-size: 14px;
      display: block;
      color: $white;
      font-weight: $fw-regular;
      text-transform: uppercase;
      margin-top: 26px;
      margin-left: 24px;


      &.active{
        font-weight: bold;
      }
    }
    & > a:first-child{
      margin-top: 0px;
    }

    & > a:last-child{
      margin-bottom: 0px;
    }
  }
}



