/***************************** variables    ******************************/

//colors
$lifeaz-blue: #000099;
$text-black: #000000;
$text-grey: #9B9A9A;
$background-grey: #E5E5E5;
$white: #FFFFFF;

//fonts
$main-font-family: 'Lato', sans-serif;

//font-weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;


