<section>

<!--  status filter toggle btn-->
  <div class="filter-btn">
    <p>N'afficher que les défibrillateurs fonctionnels</p>
    <div class="container" >
      <label class="switch" [ngClass]="{'bg-lifeaz': filterActive}"><input type="checkbox" (click)="onFilterClick()"/>    <div></div>
      </label>
    </div>
  </div>

  <!--  status filter toggle end-->

  <div class="header">
    <p>numéro de série</p>
    <p>localisation</p>
    <p>état</p>
    <p>date de péremption des éléctrodes</p>
  </div>
  <div class="defibrillateurs-list">
    <app-defibrillateurs-array-row *ngFor="let defibrillator of defibrillators" [defibrillator]="defibrillator"></app-defibrillateurs-array-row>
  </div>
</section>
